.Profile-Pic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
}

.Profile-Pic-Container {
}
.Routines {
  display: flex;
  flex-direction: column;
}

.center-text {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 0%;
}

.item-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

.add-routine {
  background-color: var(--primary);
  border-radius: 100%;
  width: var(--l);
}

.add-routine a {
  text-decoration: none;
  color: var(--lightblue);
}
