.interval {
    background-color: var(--lightblue);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 30%;
    font-weight: lighter;
}

.container li {
    margin: 15px;
    font-size: large;
}

.routine-control-btn {
    background-color: var(--primary--dim);
    padding: 20px;
    margin: 30px 5px 5px 5px;
    width: 60px;
    border: none;
    border-radius: 300px;
    font-size: medium;
}

.routine-control-btn:hover {
    background-color: var(--primary);
    transform: scale(.94);
    cursor: pointer;
    border: none;
}

.routine-control-btn:focus {
    outline: none;
    background-color: var(--primary);
    transform: scale(.98);
}

.tooltip-bottom {
    font-weight: lighter;
    font-size: var(--s);
    font-style: italic;
    background-color: var(--lightblue);
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
  }