.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.btn {
    background-color: var(--primary);
    border-radius: 25px;
    color: var(--lightblue);
    width:fit-content;
    padding: 10px;
    float: right;
    margin-right: 20%;
    margin-top: 20px;
    font-size: var(--s);
}

.btn:hover {
    background-color: var(--primary--dark);
    cursor: pointer;
}

.submit {
    text-align: center;
    margin-left: 20%;
    font-size: var(--m);
}